/* 
media -> media query
only -> for older browsers to ignore
screen -> screens

max-width -> 0px......<>
min-width -> <>...........infinity
*/
*{
    max-width: 100%;
    box-sizing: border-box;
}
img{
    height: auto;
}

@media screen and (min-width: 500px) and (max-width: 600px){
    body{
        display: none;
    }
}

@media screen and (max-width: 1050px){
    #container{
        width: 400px;
    }
    img.floatleft{
        float: none;
        margin: 0;
    }
    #topic-list, main{
        float: none;
        width: 100%; 
        padding: 2em 2em;
    }
   nav ul, nav li{
       display: block;
   }
}

@media screen and (max-width: 768px){
    #container{
        width: 400px;
    }
    img.floatleft{
        float: none;
        margin: 0;
    }
    #topic-list, main{
        float: none;
        width: 100%; 
        padding: 2em 2em;
    }
    *{
        max-width: 100%;
        box-sizing: border-box;
    }
    img{
        height: auto;
    }
}

#printmsg{
    font-size: 200px;
    display: none;
}

@media print{
    #printmsg{
        display: block;
    }
}

#box{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 0px;
    /* animation: toggleColors 2000ms cubic-bezier(0.57, 1.04, 0, 0.91) infinite; */
    animation: toggleColors 2000ms ease-in forwards;
}

@keyframes toggleColors{
    0%{
        background: red;
        top: 0px;
    }
    49.9%{
        background-color: red;
    }
    50%{
        background-color: yellow;
        top: 150px;
    }
    100%{
        background-color: blue;
        top: 0px;
    }
}